<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <h2 class="mb-4 text-black">Carrito de Compras</h2>
      <hr class="text-black">
      <div class="carrito-list" style="max-height: 600px; overflow-y: auto;">
        <div class="card-deck">
          <div class="card mb-3" *ngFor="let producto of carrito; let i = index">
            <div class="card-body">
              <div class="row">
                <div class="col-md-4">
                  <img src="{{ producto.productoIMG }}" class="img-thumbnail" alt="{{ producto.productoNombre }}" style="max-height: 250px; width: 550px;">
                </div>
                <div class="col-md-8">
                  <h5 class="card-title">{{ producto.productoNombre }}</h5>
                  <p class="card-text">{{ producto.productoDescrip }}</p>
                  <p class="card-text text-black">Precio: ${{ producto.precioUnitario }}</p>
                  <p class="card-text">Cantidad: {{ producto.cantidadProducto }}</p>
                  <p class="card-text text-black">Total: ${{ producto.subtotal }}</p>
                  <button class="btn btn-danger btn-sm">Eliminar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 text-end mt-4">
        <hr class="text-black">
        <h5 class="text-black">Total del Carrito:</h5>
        <h6 class="mb-4 text-black">${{ calcularTotalCarrito() }}</h6>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalPago">
          Pagar Carrito
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal de Pago -->
<div class="modal fade" id="modalPago" tabindex="-1" aria-labelledby="modalPagoLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalPagoLabel">Pagar Carrito</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Seleccione el método de pago:</p>
        <form>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="metodoPago" id="pagoTarjeta" value="tarjeta">
            <label class="form-check-label" for="pagoTarjeta">
              Tarjeta de Crédito/Débito
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="metodoPago" id="pagoTransferencia" value="transferencia">
            <label class="form-check-label" for="pagoTransferencia">
              Transferencia Bancaria
            </label>
          </div>
        </form>
        <hr>
        <p>Total a Pagar: ${{ calcularTotalCarrito() }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" (click)="Pagarpedido()" class="btn btn-primary" >Realizar Pago</button>
      </div>
    </div>
  </div>
</div>
