<div class ="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h3 class="text-center">Acceso</h3>
          </div>
          <div class="card-body">
            <form *ngIf="isRegisterForm; else loginForm" (ngSubmit)="onRegisterSubmit()" class="mx-auto">
              <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" [(ngModel)]="registro.username" name="username">
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" [(ngModel)]="registro.passwo" name="password">
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" [(ngModel)]="registro.email" name="email">
              </div>
              <div class="form-group">
                <label for="address">Address</label>
                <input type="text" class="form-control" id="address" [(ngModel)]="registro.addres" name="address">
              </div>
              <div class="form-group">
                <label for="role">Role</label>
                <select class="form-control" id="role" [(ngModel)]="registro.roles" name="role">
                  <option value="admin">Admin</option>
                  <option value="cliente">Cliente</option>
                </select>
              </div>
              <button type="submit" class="btn btn-primary btn-block mt-3">Registrar</button>
              <p class="text-center mt-3">¿Ya tienes una cuenta? <a href="#" (click)="activeTab()">Iniciar sesión</a></p>
            </form>
            
            <ng-template #loginForm>
                <form *ngIf="!isRegisterForm" (ngSubmit)="onLoginSubmit()">
                    <div class="form-group">
                      <label for="email">Email:</label>
                      <input type="email" class="form-control" id="email" [(ngModel)]="login.email" name="email" required>
                    </div>
                    <div class="form-group">
                      <label for="password">Password:</label>
                      <input type="password" class="form-control" id="password" [(ngModel)]="login.password" name="password" required>
                    </div>
                    <button type="submit" class="btn btn-primary mt-3">Login</button>
                    <p class="text-center mt-3">No tienes cuenta? Registrate!! <a href="#" (click)="activeTab()">Registro</a></p>
                  </form>                  
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
  